<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quizpoly">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Sound.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuizPoly.NoActionBar">
        <activity android:name=".Activities.EditActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.SettingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.SignUpActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.MenuActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.ResultActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.QuizsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.LeaderBoardActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.StatisticsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.PlayerDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.OneTimeActivity"
            android:theme="@style/Theme.QuizPoly.NoActionBar"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.quizpoly.Activities"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>